* {
  margin: 0;
  padding: 0;
}

body {
  background: #c29188;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

section {
  margin: 40px 0;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  box-shadow: 0 0 5px #7d756b;
  margin: 5px 20px 10px 5px;
  margin-left: 0;
}

p {
  text-align: justify;
  line-height: 30px;
}

hr {
  border: 1px dotted white;
  width: 80%;
  margin-left: 100px;
  border-radius: 5px;
  margin: 50px;
}

.float {
  float: left;
}

.float2 {
  float: right;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  box-shadow: 0 0 5px #7d756b;
  margin: 5px 20px 15px 5px;
  margin-left: 15px;
}


p:hover {
  color: #1C1427;
}
